@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Fuzzy Bubbles";
  font-size: 100px;
  color: azure;
  padding-top: 20px;
}

h3,
p {
  color: azure;
  margin-bottom: 20px;
}

body {
  background: url('../GIFs/ocean.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

body.forest {
  background: url('../GIFs/forest.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body.rural {
  background: url('../GIFs/rural.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body.dusk {
  background: url('../GIFs/dusk.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background: none;
}

.time-select,
.sound-picker {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

input[type="radio"] {
  display: none;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px 0;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
}